#Game {
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  textarea {
    padding: 10px;
    margin-bottom: 20px;
    min-width: 280px;
    border-radius: 4px;
  }
}
