<div id="Game" >
  <app-start-game
    *ngIf="!gameStarted"
    [canStartGame]="canStartGame"
    (startGame)="startGame()"
  ></app-start-game>

  <app-save-game
    *ngIf="user"
    [showUserinfo]="showUserinfo"
    [user]="user"
    (saveGame)="saveGame()"
  ></app-save-game>

  <ng-container *ngIf="gameStarted" >
    <app-sun></app-sun>
    <app-birds *ngIf="showBirds" ></app-birds>
  </ng-container>

  <app-game-text
    [currentContent]="currentContent"
  ></app-game-text>

  <ng-container *ngIf="currentContent?.show_input" >
    <textarea
      [placeholder]="currentContent?.input_text"
      [(ngModel)]="inputValue"
      (keyup.enter)="handleInput()"
    ></textarea>
    <button class="send" (click)="handleInput()" >
      Send
    </button>
  </ng-container>

  <ng-container *ngIf="currentContent?.present_select && !audioPlaying" >
    <app-game-options
      [currentContent]="currentContent"
      (handleSelect)="handleSelect($event)"
    ></app-game-options>
  </ng-container>
</div>

<app-auth
  *ngIf="!user"
  (setUser)="setUser($event)"
></app-auth>

<app-notification
  *ngIf="notification"
  (click)="notification = null"
  [text]="notification"
></app-notification>
