<div id="Game" >
  <div class="start" *ngIf="!gameStarted" >
    <h1>Awesome Game Title</h1>
    <h2>
      Turn on the volume.<br>
      Best experienced with headphones & fullscreen.
    </h2>
    <button (click)="startGame()" [disabled]="!canStartGame" >
      Start
    </button>
  </div>

  <ng-container *ngIf="gameStarted" >
    <app-sun></app-sun>
    <app-birds *ngIf="showBirds" ></app-birds>
  </ng-container>

  <p
    [innerHtml]="getContentText()"
  ></p>

  <ng-container *ngIf="currentContent?.show_input" >
    <textarea
      [placeholder]="currentContent?.input_text"
      [(ngModel)]="inputValue"
      (keyup.enter)="handleInput()"
    ></textarea>
    <button class="send" (click)="handleInput()" >
      Send
    </button>
  </ng-container>

  <ng-container *ngIf="currentContent?.present_select && !audioPlaying" >
    <div class="option"
      *ngFor="let option of getOptions()"
      (click)="handleSelect(option)" >
      {{ currentContent.options[option] }}
    </div>
  </ng-container>
</div>
