:root {
  --main-bg-color: #19162C;
  --main-color: #5D6FB7;
}

body {
  margin: 0;
  background: #19162C;
  overflow: hidden;
}
h1, h2, p, button,
input, textarea, label {
  font-family: 'Smythe', cursive;
}
